<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of news">
    <div class="card my-4">
      <img [src]="item.urlToImage" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="tag">{{ item.source.name }}</p>
        <h4>{{ (item.title | slice: 0:70) + "..." }}</h4>

        <p class="description">
          {{ (item.description | slice: 0:200) + "..." }}
        </p>

        <div class="authorInfo">
          <div>
            <span class="authorName">{{ item.source.name }}</span>
            <span class="articleDate">
              <i class="bi bi-calendar"></i>
              {{ item.publishedAt | date: "mediumDate" }}</span
            >
          </div>
          <button class="susbcribeTo" (click)="toggleSubscribe(item)">
            <i *ngIf="!isSusbcribed(item.id)" class="bi bi-heart heart"></i>
            <i
              *ngIf="isSusbcribed(item.id)"
              class="bi bi-heart-fill heart subscribed"
            ></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
